.menu-container{
  border: 0;
  border-bottom: 1px solid #aaaaaa;
  background-color: #fff;
}
.menu-container>.menu-content{
  position: relative;
  text-align: right;
}
.menu-container>.menu-content-login{position: relative;text-align: right;}
